<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/test.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                @Html.ActionLink("Leave Tracker", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="~/Register/RegisterUser"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="~/LTLogin/Index"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>*@
            </ul>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="display: table; text-align: center;margin-left: auto;margin-right: auto;">
            <p>&copy; @DateTime.Now.Year - Morgan Stanley</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
